*{
    margin: 0px;
    padding: 0px;
    
}
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;600&display=swap');

.productobanerimg{
    width: 100%;
}
.productotextos{
    width: 400px;
    position: relative;
    top: -200px; 
    margin-left: 100px;

}
.productobanetitulo{
    color: #fff;
    font-size: 2rem;
    margin: 10px;
}
.productobanedetalles{
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
}