*{

    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;
    font-weight: 100;
}
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;600&display=swap');

.productostarwars{
    width: 90%;
    margin: 0px auto;
    background: #ffffff;
}
.productostarwarsdetalles{
    display: flex;
}
.productostarwarstitulo{
    width: 80%;
    color: black;
    margin: 10px;
}
.productostarwarsvermas{
    width: 200px;
    height: 30px;
    right: 10px;
    margin: 10px;
    outline: none;
    border: 1px solid #2a7ae4;
    border-radius: 20px;
}
.productostarwarsvermas:hover{
    width: 200px;
    height: 30px;
    right: 10px;
    margin: 10px;
    background: #2a7ae4;
    color: #ffffff;
    outline: none;
    border: 1px solid #2a7ae4;
    border-radius: 20px;
}
.productostarwarscard{
    display: flex;
    flex-wrap: wrap;
}
.productostarwarscardimg{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

.productostarwarscardimg:hover{
    width: 200px;
    margin: 10px;    
    background: #f4f4f4;
}

.productostarwarscardimgimg{
    display: block;
    margin: 12px;
}
.productostarwarscardetalles{
    width:100% ;
}
.productostarwarscardproducto{
    margin: 5px 0px 0px 10px;
}
.productostarwarscardunidad{
    margin: 5px 0px 0px 10px;
}
.productostarwarscardprecio{
    margin: 5px 0px 0px 10px;
}
.productostarwarscardbtn{
    width: 100px;
    height: 20px;
    margin: 10px auto;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #2a7ae4;
    outline: none;
    border-radius: 20px;
}
.productostarwarscardbtn:hover{
    width: 100px;
    height: 20px;
    margin: 10px auto;
    color: #ffffff;
    padding: 10px;
    outline: none;
    border-radius: 20px;
    background: #2a7ae4;
    border: 1px solid #2a7ae4;
}